<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=source1;AccountKey=xxg4xfrDchRxnEaG5PPECfJu1AmUERHgC26bU0Is46gGupvM0V7h8GDrFSSOTFcuKKrnpcLzz1c61TxDnmouTQ==" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>